.badge
{
    cursor: pointer;
}

body
{
    background: linear-gradient(to right, var(--color-50), var(--color-100));
}

#calendar td
{
    height: 16vh;
    min-width: 15%;
    min-height: 100px;
    background-color: var(--color-300);
    padding: 3px;
    text-overflow: ellipsis;
    color: #2c2e2f;
    text-align: center;

}

#calendar td .badge
{
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

*.badge:hover
{
    transition-duration: 0.7s;
    transform: scale(1.1);
}

#calendar
{
    width:90%;
    height: 40%;
    margin-left:2%;
    border-collapse: collapse;
    border: 0px;
}

#calendar td:hover
{

}

#calendar td:first-child:hover
{

}

#calendar td,th
{
    border: 1px solid var(--color-50);
    max-width: 12vw;
}

#calendar th
{
    font-weight: bold;
    text-align: center;
    height: 40px;
    background-color: var(--color-300);
    color: #2c2e2f;
    overflow: hidden;
    text-overflow: "" !important;
    white-space: nowrap;
}

#calendar .hour
{
    color:#2c2e2f;
    font-weight: bold;
}

@media screen and (max-width: 1024px)
{
    #calendar
    {
        width: 100% !important;
        margin-left:0%;
        margin-right: 0%;
        margin-top: 5%;
    }

    .pc
    {
        display: none;
    }
}

@media screen and (min-width: 1024px)
{
    .mobile
    {
        display: none;
    }
}

#calendar .badge
{
    margin:2px;
}

#calendar td:first-child
{
    width: 140px;
    text-align: center;
}

#calendarModalList
{
    border-radius: 5px !important;
}

.calendar-li
{
    display : flex;
    align-items : center;
    justify-content : space-between;
    background: var(--color-300);
    color: black;
    border: 1px outset var(--color-200);
    border-radius: 5px;
}

*.calendar-li:hover
{
    transition-duration: 0.3s;
    transform: scale(1.01);
}

.form-select
{
    background-color: var(--color-300);
    color: black;
    cursor: pointer;
}

.form-select option
{
    background-color: var(--color-300) !important;
    color: black !important;
}

.table>tbody
{
    vertical-align: middle !important;
}

*.btn-outline-primary, *.btn-log, *.textButton
{
    color: black;
    border: 1px solid #2c2e2f;
    background: linear-gradient(to right, var(--color-400) 50%, var(--color-300) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    margin-left:10px;
    transition:all 0.7s ease;
    border-radius: 5px;
}
*.btn-outline-primary:hover, *.textButton:hover
{
    background-position:left bottom;
    color: black;
    border: 1px solid #2c2e2f;
}

.btn, .badge, .form-select, .modal-colors
{
    border-radius: 5px;
}

.modal-colors, .list-group
{
    color:black;
    background: var(--color-300);
}

.form-control
{
    background: var(--color-100);
}

:root
{
    --color-50:  #fef8ee;
    --color-100: #feeed6;
    --color-200: #fbd9ad;
    --color-300: #f8be79;
    --color-400: #f59e4d;
    --color-500: #f17b1e;
    --color-600: #e26114;
    --color-700: #bc4912;
    --color-800: #953a17;
    --color-900: #783216;
}

::selection
{
    background: var(--color-400);
}