<!DOCTYPE html>
<html lang="en">
<head>
    <title>Servizio Ripetizioni</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="page.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="calendar.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="calendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <main id="list">
        <h2>Materie</h2>
        <div v-for="(materia, index) in materie" :key="materia">
            <input type="checkbox" :id="'materia' + materia" :value="materia" v-model="selectedSubjects.materie">
            <label :for="'materia' + materia">{{ materia.name }}</label>
        </div>
        <h2>Professori</h2>
        <div v-for="(professore, index) in professori" :key="professore">
            <input type="checkbox" :id="'professore' + professore" :value="professore" v-model="selectedProfessors.professori">
            <label :for="'professore' + professore">{{ professore.name }}</label>
        </div>
    </main>
    <script src="testVueList.js"></script>
</body>
</html>